@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(to right, #f6d5f7, #fbe9d7);
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  }
  
  h2, h3 {
    text-align: center;
    color: #333;
  }
  
  input {
    padding: 10px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: calc(25% - 70px);
  }
  
  button {
    padding: 10px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    background:  linear-gradient(to right, #f6d5f7, #fbe9d7);
    transition: background 0.3s;
    
  }
  
  button:hover {
    opacity: 0.9;
  }

  
 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 12px;
    overflow: hidden;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: center;
  }
  
  thead {
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
  }
  
  
 
.icon
{
    color: #764ba2;
   font-size: 25px;
   background: none;
}